*{
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}
	section {
		padding: 1em;
		text-align: center;
	}
	.background-canvas{
		height: 100% !important;
	}
	.large-header {
		position: relative;
		width: 100%;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		z-index: 1;
		height: 100%;
	}
	.background .large-header {
		background: url(../img/fondo.png);
	}
	.main-title {
		position: absolute;
		margin: 0;
		padding: 0;
		color: #ea6c13;
		text-align: center;
		top: 50%;
		left: 50%;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}

	.background .main-title {
		text-transform: uppercase;
		font-size: 4.2em;
		letter-spacing: 0.1em;
		width: 70%;
	}
	.main-title .thin {
		font-weight: 200;
	}
@media only screen and (max-width : 768px) {
	.background .main-title{
		font-size: 3em;
	}
}
