---
---
@charset "utf-8";

$x-small:		600px;
$small:			800px;
$medium:		1024px;
$large:			1180px;

@import "css3-mixins";

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
@mixin border-radius($radius: 5px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
@mixin flex($val){
	-webkit-flex: $val;
	-moz-flex: $val;
	-ms-flex: $val;
	flex: $val;
}	
@mixin flex-flow($val){
	-webkit-flex-flow: $val;
	-moz-flex-flow: $val;
	flex-flow: $val;
}
@mixin justify-content($val){
	-webkit-justify-content: $val;
	-moz-justify-content: $val;
	justify-content: $val;
}
@mixin align-items($val){
	-webkit-align-items: $val;
	align-items: $val;
}
@mixin perspective($val){
	-webkit-perspective: $val;
	-moz-perspective: $val;
	perspective: $val;
}
@mixin background-size($bgurl){
	background: url($bgurl) no-repeat center right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin filter($filters){
	-webkit-filter: $filters;
	filter: $filters;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

*{
	margin: 0;
	padding: 0;
	//box-sizing: border-box;
}
#loader-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(255,255,255,0.85);
	#loader{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 150px;
		height: 150px;
		border: 3px solid transparent;
		border-top-color: #2c8a61;
		border-radius: 50%;
		z-index: 1500;
		animation: spin 2s linear infinite;
		-webkit-animation: spin 2s linear infinite;
		&:before{
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border: 3px solid transparent;
			border-top-color: #197346;
			border-radius: 50%;
			-webkit-animation: spin 3s linear infinite;
		}
		&:after {
		    content: "";
		    position: absolute;
		    top: 15px;
		    left: 15px;
		    right: 15px;
		    bottom: 15px;
		    border: 3px solid transparent;
		    border-top-color: #09C840;
		    border-radius: 50%;
		    -webkit-animation: spin 1.5s linear infinite;
		}
	}
}
html{
	height: 100%;
	width: 100%;
	body {
		height: 100%;
		width: 100%;
		.container-parallax{
			height: 100%;
			width: 100%;
			.main-title {
				position: absolute;
				margin: 0;
				padding: 0;
				color: #ea6c13;
				text-align: center;
				top: 45%;
				z-index: 2;
				left: 50%;
				-webkit-transform: translate3d(-50%,-50%,0);
				transform: translate3d(-50%,-50%,0);
				text-transform: uppercase;
				font-size: 4.2em;
				letter-spacing: 0.1em;
				width: 70%;
				color: #fff;
				text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
				font-family: "raleway";
				@include media-query($x-small){
					font-size: 54px;
					top: 50%;
				}
				@include media-query($medium){
					top: 50%;
				}
				.thin {
					font-weight: 200;
					color: #fff;
					font-size: 0.6em;
				}
				.punto{
					@include media-query($x-small){
						display: none;
					}
				}
				#lo-mz{
					position: relative;
					width: 60%;
  					top: 45px;	
  					@include media-query($x-small){
  						width: 100%;
  						top: 10px;
  					}	
				}
			}
			.back-phone{
  				display: none;
  				@include media-query( $x-small){
  					display: block;
  					height: 100%;
  					width: 100%;
  					img{
  						@include media-query( $x-small){
  							width: 100%;
  							overflow: hidden;
  							height: 100%;
  						}
  					}
  				}
  			}
  			.back-post{
  				height: 100%;
  				background-size: cover;
  				min-height: 100%;
  				min-width: 1024px;
  				width: 100%;
  				height: auto;	
  				position: fixed;
  				top: 0;
  				left: 0;
  				overflow: hidden;
  				@include media-query($medium){
  					left: 50%;
    				margin-left: -512px;
  				}
  			}
  			.modelado{
  				background: url(/imgs/fondo-3d.png) no-repeat;
  				height: 100%;
 				background-size: cover;
  			}
			.parallax-viewport{
				position: relative;
				height: 100%;
				width: 100%;
				overflow:hidden;
  				z-index: 1;
  				@include media-query($x-small){
  					display: none;
  				}
				.parallax-layer{
					position: absolute;
					width: 100%;
  					height: 100%;
  					@include media-query( $x-small){
  						display: none;
  					}
					&.img0{
						img{
							position: absolute;
							margin: auto;
							width: 120%;
							top: 0;
							bottom: 0;
							left: 50%;
							margin-left: -60%;
							@include media-query( $medium){
  								width: 254%;
							}
						}
					}
					&.img1{
						z-index: 2;
						img{
							position: absolute;
  							top: -20px;
  							z-index: 1;
						}
					}
					&.img2{
						img{
							position: absolute;
							bottom: -10px;
							left: -50px;
							z-index: 1;
						}
					}
					&.img3{
						img{
							position: absolute;
							z-index: 2;
							right: -20px;
							bottom: -5px;
						}
					}
					&.img4{
						z-index: 2;
						img{
							position: absolute;
							z-index: 2;
							right: 0px;
							left: 0px;
							margin: auto;
							bottom: -10px;
						}
					}
					&.img5{
						img{
							position: absolute;
							z-index: 0;
							right: 30px;
							bottom: -50px;
						}
					}
					&.img6{
						img{
							position: absolute;
							z-index: 0;
							left: 0px;
							bottom: -100px;
						}
					}
				}
			}
		}
	}
	.page-content{
		overflow: hidden;
		&.privacy{
			*{
				margin: 1rem;
			}
			.wrapper{
				font-family: raleway;
				padding: 3rem;
			}
		}
		.wrapper{
			#cursos{
				background: url(../imgs/back-slide3.png) no-repeat fixed; 
				background-size: cover;
				position: relative;
				height: 100%;
				.flex-container{
					width: 100%;
					height: 750px;
					padding: 0;
	  				margin: 0;
					list-style: none;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: inline-flex;
					-webkit-flex-flow: wrap;
					justify-content: space-around;
					@include media-query( $small){
						height: 950px;
					}
					@include media-query( $x-small){
						padding-top: 110px;
						height: 100%;
					}
					#tit-cursos{
						position: absolute;
						font-size: 50px;
						top: 100px;
						left: 0;
						font-family: raleway;
						right: 0;
						margin: auto;
						text-align: center;
						color: #fff;
						text-shadow: 2px 1px 12px #000;
						opacity: 1;
  						font-weight: 100;
  						width: 355px;
  						@include media-query( $x-small){
  							font-size: 38px;
  						}
					}
					.frase{
						text-align: center;
						color: #fff;
						font-size: 30px;
						text-shadow: 2px 1px 12px #000;
						position: absolute;
						left: 0;
						right: 0;
						top: 165px;
						line-height: 40px;
						font-weight: lighter;
						opacity: 1;
						margin: auto;
						font-family: raleway;
						width: 600px;
  						top: 195px;
  						@include media-query($x-small){
  							width: 300px;
  						}
						span{
							font-size: 20px;
							font-style: italic;
						}
					}
					.courses-head{
						color: #fff;
						font-size: 20px;
						text-align: center;
						font-family: raleway;
						font-weight: lighter;
						padding: 20px 10px 0;
					}
					.courses-parents{
						padding-top: 375px;
						display: -webkit-inline-box;
						margin: auto;
						width: 1000px;
  						position: absolute;
  						left: 0;
  						right: 0;
  						.icono-curso{
							width: 170px;
						  	height: 230px;
						  	padding: 10px;
						  	@include media-query( $medium){
						  		width: 120px;
						  	}
						  	@include media-query( $x-small){
						  		position: relative;
						  		margin: auto;
	  							height: auto;
	  							width: 170px;
						  	}
						  	img{
						  		width: 170px;
						  		height: 170px;
						  		margin: 10px 10px 0px;
						  		@include media-query( $medium){
						  			width: 130px;
						  			height: 130px;
						  		}
						  		@include media-query( $x-small){
						  			width: 150px;
						  			height: 150px;
						  		}
						  	}
						  	.iconText{
						  		color: #fff;
						  		font-family: raleway;
						  		font-size: 23px;
						  		font-weight: 100;
						  		text-shadow: 2px 1px 12px #000;
						  		@include media-query( $x-small){
						  			position: relative;
	  								font-size: 16px;
	  								text-align: center;
	  								width: 100px;
						  		}
						  	}
							#curso-digital{
								position: relative;
								font-size: 30px;
								left: 41px;
								text-shadow: 2px 1px 12px #000;
								@include media-query( $x-small){
									font-size: 20px;
	  								left: 0;
	  								right: 0;
	  								margin: auto;
								}
							}
							#curso-artisan{
								position: relative;
								font-size: 30px;
								left: 44px;
								text-shadow: 2px 1px 12px #000;
								@include media-query( $x-small){
									font-size: 20px;
	  								left: 0;
	  								right: 0;
	  								margin: auto;
								}
							}
							#curso-music{
								position: relative;
								font-size: 30px;
								left: 44px;
								text-shadow: 2px 1px 12px #000;
								@include media-query( $x-small){
									font-size: 20px;
	  								left: 0;
	  								right: 0;
	  								margin: auto;
								}
							}
							#curso-robo{
								position: relative;
								font-size: 30px;
								left: 55px;
								text-shadow: 2px 1px 12px #000;
								@include media-query( $x-small){
									font-size: 20px;
	  								left: 0;
	  								right: 0;
	  								margin: auto;
								}
							}
							#curso-travel{
								position: relative;
								font-size: 30px;
								left: 45px;
								text-shadow: 2px 1px 12px #000;
								@include media-query( $x-small){
									font-size: 20px;
	  								left: 0;
	  								right: 0;
	  								margin: auto;

								}
							}
						}
					}
					.courses{
						margin: auto;
						width: 1000px;
  						position: absolute;
  						left: 0;
  						right: 0;
  						background-color: rgba(0, 0, 0, 0.5);
  						top: 400px;
  						padding-bottom: 300px;
  						box-shadow: 10px 10px 26px;
  						border-radius: 30px;
  						@include media-query( $medium){
  							position: relative;
  							margin: auto;
  							width: 975px;
  						}
  						@include media-query( $small){
  							border-radius: 0;
  						}
						@include media-query( $x-small){
							display: block;
							margin: auto;
							width: 100%;
							position: relative;
							box-shadow: none;
							padding-bottom: 390px;
						}
						ul{
							width: 95%;
	  						margin: auto;
	  						text-shadow: 2px 1px 12px #000;
	  						font-size: 20px;
	  						li{
	  							padding: 50px;
	  							list-style: none;
	  							width: 130px;
	  							display: inline-block;
	  							height: 100px;
  								float: left;
  								text-align: center;
  								@include media-query( $x-small){
  									padding: 60px 20px;
  								}
	  							a{
	  								color: #fff;
	  								text-decoration: none;
	  								font-family: raleway;
	  								font-weight: 100;
	  								img{
	  									width: 108px;
	  								}
	  							}
	  						}
						}
						.form{
							position: absolute;
  							bottom: -15px;
  							left: 0;
  							padding: 50px;
  							border-top: 1px solid #6A6A6A;
  							width: 600px;
  							margin: auto;
  							right: 0;
  							@include media-query( $x-small){
  								width: auto;
  								border-top: none;
  								bottom: 0;	
  							}
  							p{
  								color: #fff;
  								text-decoration: none;
  								font-family: raleway;
  								font-weight: 100;
  								letter-spacing: 1px;
  								width: 300px;
  								line-height: 30px;
  								float: left;
  								@include media-query( $x-small){
  									color: #fff;
  									text-decoration: none;
  									font-family: raleway;
  									font-weight: 100;
  									letter-spacing: 1px;
  									width: 300px;
  									line-height: 30px;
  									float: left;
  								}
  							}
  							input{
  								width: 270px;
  								height: 45px;
  								font-size: 16px;
  								font-weight: 400;
  								border-radius: 5px;
  								outline: 0;
  								border: none;
  								border-bottom: 1px solid #fff;
  								padding: 0px 10px;
  								font-family: raleway
  							}
  							input[type="submit"]{
  								font-family: raleway;
  								font-size: 16px;
  								width: 135px;
  								background: #2c8a61;
  								border-radius: 5px;
  								border: none;
  								outline: 0;
  								color: #fff;
  								font-weight: 100;
  								margin-top: 20px
  							}
  							button:hover{
  								background: #226B4B;
  							}
						}
					}
				}
				.title-parrafo {
				  	position: relative;
				  	height: 900px;
				  	margin-top: 450px;
				  	background: rgba(10, 60, 42, 0.5) url(../imgs/pattern.png)repeat;
				  	@include media-query( $x-small){
				  		height: 1500px;
				  		margin-top: 400px;
				  	}
				  	#tit-cursos{
						position: absolute;
						font-size: 50px;
						top: 100px;
						left: 0;
						font-family: raleway;
						right: 0;
						margin: auto;
						text-align: center;
						color: #fff;
						text-shadow: 2px 1px 12px #000;
						opacity: 1;
  						font-weight: 100;
  						width: 355px;
  						@include media-query( $x-small){
  							font-size: 38px;
  						}
					}
				  	.somos{
				  		position: absolute;
  						top: 210px;
  						width: 70%;
  						margin: auto;
  						border-radius: 15px;
  						padding: 60px;
  						right: 0;
  						left: 0;
  						@include media-query( $x-small){
  							padding: 0px 30px;
  							width: 300px;
  						}
  						.parrafo{
  							font-family: raleway;
  							color: #fff;
  							line-height: 32px;
  							text-align: justify;
  							font-weight: 100;
  							font-size: 23px;
  							@include media-query( $x-small){
  								text-align: left;
  							}
  						}
				  	}
				}
			}
		}	
	}
	#fixed3{
		background: url(../imgs/avatar.jpg) no-repeat fixed;
		position: relative;
		width: 100%;
		background-size: cover;
		@include media-query( $x-small){
			height: 1100px;
		}
		#map{
			height: 245px;
  			position: absolute;
  			z-index: 1;
  			width: 600px;
  			height: 315px;
  			right: 8%;
  			margin: auto;
  			bottom: 100px;
  			border-radius: 10px;
  			@include media-query( $medium){
  				width: 40%;
  				right: 10%;
  				height: 350px;
  			}
  			@include media-query( $small){
  				right: 4%;
  			}
  			@include media-query( $x-small){
  				right: 0;
  				left: 0;
  				width: 350px;
  				margin: auto;
  				height: 260px;
  			}
		}
		.row{
  			background-color: rgba(0, 0, 0, 0.5);
  			height: 600px;
  			@include media-query( $x-small){
  				height: 1100px;
  			}
  			#tit-cursos{
				position: absolute;
				font-size: 50px;
				top: 100px;
				left: 0;
				font-family: raleway;
				right: 0;
				margin: auto;
				text-align: center;
				color: #fff;
				text-shadow: 2px 1px 12px #000;
				opacity: 1;
	  			font-weight: 100;
	  			width: 355px;
	  			@include media-query( $medium){
  					z-index: 1;
  					top: 50px;
  					left: 20%;
  				}
  				@include media-query( $small){
  					left: 50%;
  				}
	  			@include media-query( $x-small){
	  				font-size: 38px;
	  				left: 0;
	  			}
			}
			form.form-horizontal{
				position: absolute;
  				background-color: rgba(0, 0, 0, 0.5);
  				color: #fff;
  				font-weight: 100;
  				width: 400px;
  				height: 600px;
  				padding-top: 50px;
  				@include media-query( $x-small){
  					background-color: none;
  					padding-top: 175px;
  					width: 100%;
  					height: 1100px;
  				}
  				p{
  					font-family: raleway;
  					font-size: 20px;
  					color: #fff;
  					font-weight: 100;
  					text-align: center;
  				}
  				.form-group{
  					padding: 20px 50px 0px 50px;
  					p{
  						font-family: raleway;
  						font-size: 20px;
  						color: #fff;
  						font-weight: 100;
  						opacity: 0.6;
  						text-align: left;
  					}
  					input{
  						width: 290px;
  						height: 30px;
  						border-radius: 5px;
  						border: none;
  						font-size: 16px;
  						font-family: raleway;
  						padding-left: 10px;
  						@include media-query( $x-small){
  							width: 265px;
  						}
  					}
  					textarea{
  						width: 295px;
  						border-radius: 5px;
  						border: none;
  						padding: 10px;
  						font-size: 16px;
  						font-family: raleway;
  						@include media-query( $x-small){
  							width: 255px;
  						}
  					}
  					.btn.btn-ttc{
  						font-family: raleway;
  						font-size: 16px;
  						padding: 10px;
  						width: 100px;
  						background: #2c8a61;
  						border-radius: 5px;
  						border: none;
  						outline: 0;
  						color: #fff;
  						font-weight: 100;
  					}
  					.btn.btn-ttc:hover{
  						background: #226B4B;
  					}
  				}
  				.cl-effect-5{
  					padding-top: 65px;
  					text-align: center;
  					p.follow{
  						margin: -15px 0px 45px;
  						font-family: raleway;
  						letter-spacing: 2px;
  					}
  					a{
  						color: #2c8a61;
  						font-family: raleway;
  						text-decoration: none;
  						padding: 10px 17px;
  						border: 1px solid;
  						margin: 0px 10px;
  						border-radius: 5px;
  						img{
  							display: none;
  						}
  					}
  					a:hover{
  						background: #2c8a61;
  						color: #fff;
  						border: none;
  					}
  				}
			}
			#address{
				position: absolute;
  				bottom: 5px;
  				right: 220px;
  				font-size: 16px;
  				font-family: raleway;
  				padding-bottom: 10px;
  				color: #fff;
  				font-weight: 100;
  				@include media-query( $medium){
  					right: 150px;
  				}
  				@include media-query( $small){
  					right: 25px;
  				}
  				@include media-query( $x-small){
  					left: 0;
  					right: 0;
  					text-align: center;
  				}
  				p{
  					margin-bottom: 10px;
  					text-align: center; 
  				}
			}
		}
	}
	footer{
		background: #212121;
		position: relative;
		height: 300px;
		width: 100%;
		@include media-query( $x-small){
			padding: 25px 0px;
			height: 800px;
		}
		.container-footer{
			display: -webkit-inline-box;
			width: 80%;
  			position: absolute;
  			margin: auto;
  			left: 0;
  			right: 0;
			@include media-query( $x-small){
				display: block;
			}
			.column{
				width: 300px;
				margin: 25px;
				color: #fff;
				font-family: raleway;
				height: 200px;
				&.courses{
					@include media-query( $medium){
						margin: 10px 10px 50px 10px;
					}
				}
				&.social{
					margin-top: 25px;
				}
				@include media-query( $medium){
					width: 280px;
					margin: 10px;
				}
				@include media-query( $small){
					width: 170px;
					margin: 10px;
				}
				@include media-query( $x-small){
					margin-bottom: 50px;
				}
				.title{
					font-size: 18px;
  					font-weight: 100;
  					width: 230px;
  					border-bottom: 5px solid #2c8a61;
  					padding: 10px;
  					color: #fff;
  					@include media-query( $x-small){
  						width: 250px;
  					}
  					@include media-query( $medium){
  						width: 150px;
  					}
				}
				ul{
					padding: 30px 0px 0px 70px;
					@include media-query( $medium){
						padding: 30px 0px 0px 15px;
					}
					li{
						color: #3a9e6b;
						padding-bottom: 15px;
  						text-decoration: none;
  						font-weight: 100;
						a{
							color: #fff;
  							text-decoration: none;
  							font-weight: 100;
  							opacity: .5;
						}
						a:hover{
							opacity: 1;
						}
					}
				}
			}
		}
	}
	/*POST----------------------------------------*/
	div.post{
		background: url(../imgs/back-slide.png) no-repeat;
  		color: #fff;
  		position: relative;
  		height: 100%;
  		background-size: cover;
		@include media-query( $x-small){
			background: url(../imgs/back-slide.png) no-repeat;;
		}
		@include media-query( $small){
			background-size: cover;
		}
		/*----------------------------------------------------*/
		&.web{
			.post-header{
				h1{
					color: #da4f2f;
				}
			}
			.post-content{
				h2{
					color: #da4f2f;
				}
				h3{
					color: #da4f2f;
				}
				img{
				border: 3px solid #da4f2f;
				}
				a{
					border: 1px solid #da4f2f;
					color: #fff;
					background: #da4f2f;
				}
				a:hover{
					background: #85301D;
				}
			}
		}
		/*----------------------------------------------------*/
		&.angular{
			.post-header{
				h1{
					color: #da4f2f;
				}
			}
			.post-content{
				h2{
					color: #da4f2f;
				}
				img{
				border: 3px solid #da4f2f;
				}
				a{
					border: 1px solid #da4f2f;
					color: #fff;
					background: #da4f2f;
				}
				a:hover{
					background: #85301D;
				}
			}
		}
		/*----------------------------------------------------*/
		&.android{
			.post-header{
				h1{
					color: #9acf00;
				}
			}
			.post-content{
				h2{
					color: #9acf00;
				}
				img{
				border: 3px solid #9acf00;
				}
				a{
					border: 1px solid #9acf00;
					color: #fff;
					background: #9acf00;
				}
				a:hover{
					background: #5F7F00;
				}
			}
		}	
		/*----------------------------------------------------*/
		&.ios{
			.post-header{
				h1{
					color: #7eadbf;
				}
			}
			.post-content{
				h2{
					color: #7eadbf;
				}
				img{
				border: 3px solid #7eadbf;
				}
				a{
					border: 1px solid #7eadbf;
					color: #fff;
					background: #7eadbf;
				}
				a:hover{
					background: #7199a8;
				}
			}
		}	
		/*----------------------------------------------------*/
		&.programacion{
			.post-header{
				h1{
					color: #00736b;
				}
			}
			.post-content{
				h2{
					color: #00736b;
				}
				img{
				border: 3px solid #00736b;
				}
				a{
					border: 1px solid #00736b;
					color: #fff;
					background: #00736b;
				}
				a:hover{
					background: #00665F;
				}
			}
		}
		/*----------------------------------------------------*/
		&.games{
			.post-header{
				h1{
					color: #BCBFB8;
				}
			}
			.post-content{
				h2{
					color: #BCBFB8;
				}
				h3{
					color: #BCBFB8;
				}
				img{
				border: 3px solid #BCBFB8;
				}
				a{
					border: 1px solid #BCBFB8;
					color: #fff;
					background: #BCBFB8;
				}
				a:hover{
					background: #838580;
				}
			}
		}
		/*----------------------------------------------------*/
		&.digital{
			.post-content{
				h2{
					color: #a4cffc;
				}
				img{
				border: 3px solid #a4cffc;
				}
				a{
					border: 1px solid #2E8CBF;
					color: #fff;
					background: #2E8CBF;
				}
				a:hover{
					background: #247099;
				}
			}
		}
		/*----------------------------------------------------*/
		&.modelado{
			.post-header{
				h1{
					color: #2C86B8;
				}
			}
			.post-content{
				h2{
					color: #2C86B8;
				}
				img{
				border: 3px solid #2C86B8;
				}
				a{
					border: 1px solid #2C86B8;
					color: #fff;
					background: #2C86B8;
				}
				a:hover{
					background: #247099;
				}
			}
		}
		header.post-header{
			padding: 50px;
			height: 40px;
			@include media-query( $medium){
				margin-left: 150px;
				width: 70%;
			}
			@include media-query( $x-small){
				margin: 0px;
				width: 90%;
				padding-top: 100px;
			}
			img{
				width: 100px;
  				margin: -35px 0px 0px 25px;
  				@include media-query( $medium){
  					margin: -35px 0px 0px -80px;
  				}
  				@include media-query( $x-small){
  					margin: -35px 0px 0px -35px;
  				}
			}
			h1{
				position: absolute;
	  			font-size: 32px;
	  			top: 35px;
	  			left: 190px;
	  			font-family: raleway;
	  			color: #fff;
	  			text-shadow: 2px 1px 12px #000;
	  			opacity: 1;
	  			font-weight: 100;
	  			color: #a4cffc;
	  			@include media-query( $medium){
	  				left: 250px;
	  			}
	  			@include media-query( $x-small){
	  				left: 33%;
	  				top: 5%;
	  				text-align: left;
	  			}
	  			span{
	  				font-family: raleway;
  					font-size: 16px;
  					color: #ddd;
	  			}
	  		}
		}
		article.post-content {
  			height: 100%;
			display: -webkit-box;
  			display: -moz-box;
  			display: -ms-flexbox;
  			display: -webkit-flex;
  			display: flex;
  			-webkit-flex-flow: row wrap;
  			flex-flow: row wrap;
			font-weight: bold;
			background-color: rgba(0, 0, 0, 0.5);
  			margin: 0 50px 50px;
  			padding: 50px;
  			border-radius: 10px;
  			@include media-query( $small ){
				padding: 50px 10px;
  				margin-bottom: 100px;
			}
			@include media-query( $x-small ){
  				padding: 20px;
  				margin: 15px; 
			}
			img{
				width: 100%;
			}
			a{
 				color: #fff;
 				font-family: raleway;
 				font-weight: 100;
 				padding: 20px 40px;
 				font-size: 25px;
 				text-decoration: none;
 				border-radius: 5px;
 				height: 2rem;
			}
			.description { 
				order: 1;
				flex: 0 40%;
  				line-height: 25px;
  				font-family: raleway;
  				font-weight: 100;
  				text-align: justify;
  				padding: 10px 30px;
  				box-sizing: border-box;
  				@include media-query( $medium ){
  					flex: 0 50%;
  				}
  				@include media-query( $small ){
					flex: 0 100%;
				}
			}
			.details{
				order: 2;
  				flex: 0 35%;
  				padding: 10px 30px;
  				line-height: 25px;
  				font-family: raleway;
  				font-weight: 100;
  				box-sizing: border-box;
  				@include media-query( $medium ){
  					flex: 0 50%;
  				}
  				@include media-query( $small ){
					flex: 0 100%;
				}
  				h2{
  					font-family: raleway;
  					font-size: 25px;
  					font-weight: 100;
  					margin-bottom: 20px; 
  				}
  				ul{
  					li{
  						list-style: none;
  					}
  				}
			}
			.course{
				order: 3;
  				flex: 0 25%;
  				line-height: 25px;
  				font-family: raleway;
  				font-weight: 100;
  				box-sizing: border-box;
  				@include media-query( $medium ){
  					flex: 0 50%;
  					padding: 10px 30px;
  				}
  				@include media-query( $small ){
					flex: 0 100%;
				}
  				h2{
  					font-family: raleway;
  					font-size: 25px;
  					font-weight: 100;
  					margin-bottom: 20px; 
  				}
  				ul{
  					li{
  						list-style: none;
  					}
  				}
			}
			.thumbnail{
				order: 4;
				flex: 0 40%;
				@include media-query( $small ){
					order: 1;
					flex: 0 100%;
					img{
						width: 80%;
						display: block;
						margin: 0 auto;
					}
				}
			}
			.subscribe{
				order: 5;
				flex: 0 60%;
				display: flex;
				justify-content: center;
				align-items: center;
				@include media-query( $medium ){
  					flex: 0 100%;
  				}
			}
		}
	}
}		