<header class="site-header">
    <div class="container-back">
        <div class="container-title">
            <h1 class="main-title"> Makerz<br><span class="thin"><span class="punto">•</span> Digital Dealers <span class="punto">•</span></span></h1>
        </div>
        <div class="carousel">
            <div><img src="./imgs/back-slide.png"></div>
            <div><img src="./imgs/back-slide1.png"></div>
            <div><img src="./imgs/back-slide.png"></div>
        </div>
    </div>
</header>


 