<div class="container-parallax" id="windowParallax">
    <h1 class="main-title"><img id="lo-mz" src="/imgs/LOGO-MAKERZ.png"><br><span class="thin"><span class="punto">•</span> Digital Dealers <span class="punto">•</span></span></h1>
    <div class="back-phone">
        <img src="/imgs/back-phone.png">
    </div>
    {% if page.is_post %}
    <div class="back-post" style="background:url({{ page.back }}) fixed; background-size: cover"></div>
    {% else %}
    <div id="parallax" class="parallax-viewport">
    	<div class="parallax-layer img0"><img src="/imgs/PARALLAX/fondo-parallax.png"></div>
        <div class="parallax-layer img1"><img src="/imgs/PARALLAX/part1.png"></div>
        <div class="parallax-layer img2"><img src="/imgs/PARALLAX/part2.png"></div>
        <div class="parallax-layer img3"><img src="/imgs/PARALLAX/part3.png"></div>
        <div class="parallax-layer img4"><img src="/imgs/PARALLAX/part4.png"></div>
        <div class="parallax-layer img5"><img src="/imgs/PARALLAX/part5.png"></div>
        <div class="parallax-layer img6"><img src="/imgs/PARALLAX/part6.png"></div>
    </div>
    {% endif %}
</div>