<header class="site-header">
  <div class="container background">
    <div id="large-header" class="large-header">
      <canvas id="background-canvas"></canvas>
      <h1 class="main-title"> Makerz<br><span class="thin">• Digital Dealers •</span></h1>      
    </div>
    <div class="container">
      <!-- the header that will be animated by adding the respective state class to it -->
        <header id="ha-header" class="ha-header ha-header-large">
          <div class="ha-header-perspective">
            <div class="ha-header-front"></div>
            <div class="ha-header-bottom">
              <nav class="cl-effect-4">
                <a>CURSOS</a>
                <a>NOSOTROS</a>
                <a>CONTACTO</a>
              </nav>
            </div>
          </div>
        </header>
        <section class="ha-waypoint" data-animate-down="ha-header-rotateBack" data-animate-up="ha-header-shrink">
          
        </section>
        <section class="ha-waypoint" data-animate-down="ha-header-rotate" data-animate-up="ha-header-rotateBack">
          
        </section>
      </div><!-- /container -->
  </div>
</header>
