---
layout: default
---
<div class="post {{page.division}}">

  	<header class="post-header">
  		<img src="{{page.img}}">
    	<h1 class="post-title">{{ page.title }}</h1>
  	</header>

  	<article class="post-content">
      <div class="thumbnail">
    	 <img src="{{page.photo}}">
      </div>
      {{ content }}
      <div class="subscribe">
    	 <a href="mailto:be@digitaldealers.mx?subject=Informes del curso {{page.title}}&body=Deseo inscribirme al curso de {{page.title}}.%0D%0AMe pueden contactar por correo o vía telefónica.%0D%0AMi teléfono es:%0D%0AGracias!">Inscríbete</a>
      </div>
    </article>
</div>
